<% if @users.nil? || @users.empty? %>
    There is no users yet
<% else %>
    <table width="800px">
      <%#= partial(:user, collection: users) %>
      <tr>
        <td>User id</td>
        <td>Instagram user name</td>
        <td>Counter</td>
        <td>Password</td>
        <td>Active</td>
        <td>Priority</td>
        <td>Created_at</td>
        <td></td>
      </tr>

      <% @users.each do |user| %>
          <tr>
            <td><%= user.user_id %></td>
            <td><%= user.instagram_user_name %></td>
            <td><%= user.counter %></td>
            <td><%= user.password %></td>
            <td><%= user.active %></td>
            <td><%= user.priority %></td>
            <td><%= user.created_at %></td>
            <td><a href="#" class="deactivate-user" data-user_id="<%= user.id %>">Deactivate user</a></td>
          </tr>
      <% end %>

    </table>
<% end %>